body {
  background-color: whitesmoke;
  text-align: center;
  font-family: monospace, Verdana, Tahoma, sans-serif;
  font-size: 45px;
  font-weight: bolder;
  font-style: italic;
  margin-top: 150px;
}

img {
  margin-bottom: 20px;
  border-radius: 20px;
  max-inline-size: 100%;
  height: auto;
  block-size: auto;
}

.bottom {
  font-size: 35px;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
  color: white;
}

.george {
  text-align: right;
  font-style: normal;
  font-size: 15px;
}